@import "variables.scss";
@import "mixin.scss";
@import "style";

header {
    background-color: $second-color;
    height: 100%;
    padding-bottom: 5vw;

    article {
        @include flexing;
        margin-bottom: 5vw;
        height: 15vh;
        width: 50vw;
        border-right: 1px solid rgb(77, 77, 77);
    }

    section {
        @include flexing;
        flex-direction: column;
        text-align: center;
        margin-bottom: 10vw;

        p {
            margin-bottom: 2vw;
        }
        span {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 2px white;
            display: block;
        }
    }

    nav {
        @include flexing;
        justify-content: space-between;
        padding: 0 $space-out;

        img {
            width: 6%;
        }
    }
}

.data {
    background: $second-color;
    padding: 0 $space-out;
    
    h2 {
        width: 70vw;
        position: relative;
        z-index: 10;
        margin-bottom: 7vw
    }
    
    article {
        @include flexing;
        justify-content: space-between;
        position: relative;
        margin-bottom: 7vw;

        p {
            margin-bottom: 0.5vw;
        }

        h3 {
            margin-bottom: 5vw;
            font-size: 4vw;
        }
        
        img {
            width: 35%;
            position: absolute;
            top: -35%;
            right: -5%;
        }
    }
}

.pictures {
    background-color: $main-color;
    position: relative;
    @include flexing;

    article {

        margin: 30vw 30vw 20vw 30vw;

        h2 {
            color: $second-color;
            line-height: 6vw;
            margin-bottom: 2vw;
        }
    
        p {
            color: $second-color;
            line-height: 2vw;
            font-weight: 600;
            margin: 0 auto;
    
            &:nth-of-type(1) {
                margin-bottom: 50vw;
            }
            &:nth-of-type(2) {
                width: 35vw;
            }
        }

        img {
            width: 25%;
            position: absolute;
        }
    
        .action1 {
            @include position-right (-5%, 10%);
        }
    
        .action2 {
            @include position-left (10%, 2%)
        }
        
        .action3 {
            @include position-right(33%, 0);
        }

        .action4 {
            @include position-left (50%, 15%);
        }

        .action5 {
            @include position-right (55%, 15%);
        }

        .action6 {
            @include position-left (72%, 0);
        }

        .action7 {
            @include position-right(92%, 20%);
        }
    }
}

.golden-bear {
    height: 100%;
    padding: 20vw $space-out 0 $space-out;

    article {
        display: flex;
        justify-content: space-between;

        div {
            justify-content: start;
            align-items: start;
            flex-direction: column;

            p {
                margin-bottom: 3vw;
            }
    
            h2 {
                line-height: 5.5vw;
                width: 20vw;
            }
    
            h3 {
                width: 40vw;
                line-height: 3vw;
                margin-bottom: 2vw;
            }
        }
    }

    div {
        @include flexing;
        margin-top: -7vw;

        img {
            &:nth-of-type(1) {
                width: 50%;
                transform: translate(0, 15%);
                z-index: 5;
            }
            &:nth-of-type(2) {
                width: 30%;
                z-index: 10;
                transform: translate(-15%, 25%);
            }
        }
    }
}

.poppy-bear {
    background-color: $main-color;
    padding: 30vw $space-out 10vw $space-out;
    position: relative;

    .circle {
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 0;
        
        img {
            width: 40%;
            overflow: hidden;
            transform: translate(180%, -25%);
            animation: circle-rotate 5s linear infinite;
        }
    }

    article {
        display: flex;
        justify-content: space-between;

        div {
            justify-content: start;
            align-items: start;
            flex-direction: column;

            p {
                margin-bottom: 3vw;
                color: $second-color;
            }
    
            h2 {
                line-height: 5.5vw;
                width: 20vw;
                color: $second-color;
            }
    
            h3 {
                width: 40vw;
                line-height: 3vw;
                margin-bottom: 2vw;
                color: $second-color;
            }
        }
    }

    .picture-div {
        @include flexing;

        img {
            &:nth-of-type(2) {
                width: 50%;
                transform: translate(-15%, 0);
                z-index: 5;
            }
            &:nth-of-type(1) {
                width: 30%;
                transform: translate(0, 0);
                z-index: 10;
            }
        }
    }
}

footer {
    padding-left: $space-out;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
        margin-top: 10vw;

        p {
            margin-bottom: 2vw;
        }

        h3 {
            width: 40vw;
            margin-bottom: 2vw;
        }

        button {
            margin-bottom: 5vw;
        }

        img {
            width: 5%;
            margin: 0 0.4vw 1vw 0.4vw;
        }
    }

    .right {
        overflow: hidden;

        .banner {
            width: 120vw;
            background-color: $main-color;
            transform: translate(-30%, 150%) rotate(45deg);
            margin-bottom: 35vw;
        }
        
        h2 {
            color: $second-color;
            animation: banner 10s linear infinite;
            }


            span {
                color: $second-color;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 2px black;
            }
        }
    }

    .logo {
        transform: translate(200%);
        width: 20%;
    }
