@mixin flexing {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin position-left($top, $left) {
  top: $top;
  left: $left;
}

@mixin position-right($top, $right) {
  top: $top;
  right: $right;
}
